<div class="container">
    <!--Jumbotron-->
    <div class="jumbotron text-center text-white shadow">
        <h1 class="display-4" id="app-title">Welcome To Burger Bars!!<img src="/public/assets/big-burger-icon_163454-80.jpg"
                id="BurgerImage"></h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card border shadow">
                <div class="card-header bg-danger text-white text-center">
                    Can I take your order?
                </div>
                <!--Create/add burger form-->
                <div class="card-body text-center">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="burger">Place order here:</label>
                            <input type="text" class="form-control" id="burgerToGo" placeholder="">
                        </div>
                        <button class="btn btn-danger" type="submit">Place order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-6 mt-4">
            <div class="card border shadow">
                <div class="card-header bg-danger text-white">
                    Burgers
                </div>
                <!--Burgers to be devoured-->
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless this.devoured}}
                        <li>
                            {{this.id}}
                            {{this.burger_name}}

                            <form action="/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="true">
                                <button class="btn-primary" type="submit">Eat Up!</button>
                            </form>
                        </li>

                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="card devoured-card">
                <div class="card-header bg-danger text-white" id="devoured-card-header">
                    Devoured burgers
                </div>
                <!--Devoured burgers go here-->
                <div class="card-body">
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li>
                        {{this.id}}
                        {{this.burger_name}}
                        </li>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card footer">
                <div class="card-body footer-body text-white">
                    <h5 class="card-title text-white text-center">Thank you for stopping by Burger Bar!</h5>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>